@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// fonts
$cs-font: 'Open Sans',sans-serif;
$serif: 'Open Sans', sans-serif;
$sans: 'Open Sans', sans-serif;
$mono: 'IBM Plex Mono', monospaced;

// colors
$gray: #ddd;
$navy: #006;
$blue: #36c;
$white: #fff;
$black: #000;
$width: 1200px;

$side-radius: 5px;
$cs-size: 90pt;
$side-width: 0.17 * $width;
$main-width: $width - $side-width - 0.08 * $width;

body {
  font: 110% $serif;
  background-color: $white;
  color: $black;
}

#wrap {
	width: $width;
}

#sidebar {
  float: left;
  width: $side-width;
  padding-left: 0.04 * $width;

	.side {
		@include border-radius($side-radius);
		font-size: 1.2em;
		border: 3px solid $gray;
		background-color: $gray;
		color: $navy;
		margin: 10px;
		padding: 0;

		ul {
		  margin-left: -1em;

		  li {
		  	list-style: none;

		  	padding-left: 10px;
    		text-indent: -10px;
    		margin-bottom: 5px;

		  	a {
					color: $navy;
		  	  text-decoration: none;
		  	}

		  	a:visited {
					color: $navy;
		  	  text-decoration: none;
		  	}

		  	a:hover {
					color: $navy;
		  	  text-decoration: underline;
		  	}
		  }
		}
	}

	hr {
	  color: $navy;
	  background-color: $navy;
	  width: $side-width - $side-radius * 4;
	  height: 2px;
	  border: 0;
	}

	#pic {
	  width: $side-width - $side-radius * 4;
	  margin-left: $side-radius * 2;
		@include border-radius($side-radius);
	}

	#cs {
		font-family: $cs-font;
    font-weight: bold;
	  text-align: center;

	  #c {
		  font-size: $cs-size;
		  color: $navy;
	  }

	  #s {
		  font-size: 1.15 * $cs-size;
		  color: $blue;
	    vertical-align: -0.25 * $cs-size;
	    margin-left: -0.35 * $cs-size;
	  }
	}
}

#main {
  float: right;
  width: $main-width;
  margin-top: 4em;
  padding-left: 0.02 * $width;

	.tagline {
	  font-size: 24pt;
	  margin-bottom: 5px;
	}

	.post {
	  margin-top: 4em;
	  margin-left: 2em;

	  h1 {
		  font-family: $sans;
		  font-size: 20pt;
		  font-weight: normal;
		  margin-left: -10px;

	  	a {
				color: $navy;
	  	  text-decoration: none;
	  	}

	  	a:visited {
				color: $navy;
	  	  text-decoration: none;
	  	}

	  	a:hover {
				color: $navy;
	  	  text-decoration: underline;
	  	}
	  }

	  h2 {
	    font-family: $sans;
	  }

	  h3 {
	    font-family: $sans;
	  }
	}
}

#clear {
	clear: both;
}

#footer {
  margin-top: 5em;
  margin-left: $side-width + 0.12 * $width;
}

#wufoo-m18p6l681dk9rq3 {
	margin-top: 20px;
}
