<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Christopher Swenson</title>
  <id>http://www.caswenson.com/</id>
  <updated>%s</updated>
  <author>
    <name>Christopher Swenson</name>
  </author>
%s
</feed>
